<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>

		<target name="file" xsi:type="File"
			fileName="${basedir}/log.txt"
			layout="${longdate}-${level} ->${message}${newline}[${newline}${stacktrace}${newline}]"
			archiveFileName="${basedir}/LogsArchives/log.{##}.txt"
			archiveAboveSize="4000000"
			archiveNumbering="Sequence"
			maxArchiveFiles="5"
			concurrentWrites="true"
			keepFileOpen="false"
			encoding="iso-8859-2" />

	</targets>

	<rules>
		<logger name="*"  levels="Info,Error,Fatal" writeTo="file"  />
	</rules>
</nlog>